

.content-ml{
    margin-left: 15rem;
}

.display-1{
    margin-top: 5rem;
    margin-right: 30rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
}

p{
    color: hsl(0, 36%, 70%);
    margin-right: 25rem;
}

.input-width{
    max-width:30rem;
}

button{
    right: 22rem;
    top: 0;
    height: 100%;
    width: 6rem;
}