.h-100 {
    height: 100vh; /* Sayfa yüksekliğini kapsayıcıya göre ayarla */
    overflow: hidden; /* Taşmayı engelle */
    margin: 0; /* Marginleri sıfırla */
    padding: 0; /* Paddingleri sıfırla */
  }
  
  .h-100 > img {
    width: 100%; /* Resmin genişliği kapsayıcıya göre ayarla */
    height: auto; /* Yüksekliği otomatik ayarla */
    object-fit: cover; /* Resmi kapsayıcıya uygun şekilde kapla */
    display: block; /* Boşlukları engellemek için */
  }